<!DOCTYPE html>
<html>
<head>
	<title>PHL_phone</title>
	<style type="text/css">
		.all{
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			background: url("images/BG.jpg") no-repeat top center;
			background-color: #3A3A3A;
		}
		.title{
			margin-top: 13.6vh;
			margin-bottom: 4vh;
		}
		.slogan{
			margin-bottom: 7vh;
		}
		.button{
			height: 6.5vh;
			margin-bottom: 6.7vh;
		}
	</style>
</head>
<body>
	<div class="all">
		<img class="title" src="images/title.png">
		<img class="slogan" src="images/slogan.png">
		<img class="button" src="images/down_button.png">
		<img class="phone-img" src="images/phone_imag.png">
	</div>
</body>
</html>