<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link
            href="http://s2.music.126.net/s/2/core.css?ae14f1474c34ab5f63ebbd0b191853d3"
            type="text/css" rel="stylesheet">
    <link
            href="http://s2.music.126.net/s/2/pt_frame.css?55bf38a08df8bdd3cd15fb8529bb237a"
            type="text/css" rel="stylesheet">
</head>
<body>
<div id="m-playlist" class="g-bd4 f-cb">
    <div class="g-mn4">
        <div class="g-mn4c">
            <div class="g-wrap6">
                <div class="m-info f-cb">
                    <div class="cover u-cover u-cover-dj">
                        <div id="main" style="height:200px;width:300px;background-color:#F9F9F9"></div>
                    </div>

                    <div class="cnt">
                        <div class="cntc">
                            <div class="hd f-cb">
                                <div class="tit">
                                    <h2 id="currentTime" class="f-ff2 f-brk"></h2>
                                </div>
                            </div>
                            <p id="album-desc-more" class="intr f-brk"
                               style="font-size: 18px; color: black;">
                                歌单20min以上占比：{{songlist_20Ratio}}<br><br>
                                电台20min以上占比：{{radio_20Ratio}}<br><br>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="n-songtb">
                    <div class="u-title u-title-1 f-cb">
                        <h3>
                            <span class="f-ff2">top10歌单列表</span>
                        </h3>
                    </div>
                    <div id="song-list-pre-cache" data-key="track_playlist-152235296">
                        <div id="auto-id-blEpMfFOsWSEEUQ7">
                            <div class="j-flag" id="auto-id-3pxUtMQ1So68I2iL">
                                <table class="m-table ">
                                    <thead>
                                    <tr>
                                        <th class="first w1"><div class="wp">&nbsp;</div></th>
                                        <th><div class="wp">歌单名称</div></th>
                                        <th class="w2"><div class="wp">今日收听次数</div></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for songlist in topl0 %}
                                    <tr class="even">
                                        <td class="left"><div class="hd ">
                                            <span class="num">{{songlist.index}}</span>
                                        </div></td>
                                        <td class=""><div class="f-cb">
                                            <div class="tt">
                                                <div class="ttc">
																<span class="txt"><a
                                                                        href="http://api.paohaile.com/sharing_songlist?songlist={{songlist._id}}"><b
                                                                        title="{{songlist.name}}">{{songlist.name}}</b></a></span>
                                                </div>
                                            </div>
                                        </div></td>
                                        <td class=""><div class="text" title="{{songlist.count}}">
                                            <span title="{{songlist.count}}">{{songlist.count}}</span>
                                        </div></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="j-flag"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->

<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script type="text/javascript">
    require.config({
        paths: {
            echarts: 'http://echarts.baidu.com/build/dist'
        }
    });
    // 使用
    require(
            [
                'echarts',
                'echarts/chart/pie'
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
                var myChart = ec.init(document.getElementById('main'));

                option = {
                    title : {
                        text: '歌单电台比',
                        subtext: '',
                        x:'left'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : '20px',
                        y : '50px',
                        data:['歌单','电台']
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {
                                show: true,
                                type: ['pie', 'funnel'],
                                option: {
                                    funnel: {
                                        x: '25%',
                                        width: '50%',
                                        funnelAlign: 'left',
                                        max: 1548
                                    }
                                }
                            },
                            restore : {show: true},
                            saveAsImage : {show: true}
                        }
                    },
                    calculable : true,
                    series : [
                        {
                            name:'收听总量',
                            type:'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[
                                {value:"{{radioNum}}", name:'电台'},
                                {value:"{{songlistNum}}", name:'歌单'},

                            ]
                        }
                    ]
                };


                // 为echarts对象加载数据
                myChart.setOption(option);

                var ecConfig = require('echarts/config');

            }
    );


    var query = location.search.substring(1);
    var selectedTime=query.split("&")[0];

    document.getElementById("selectedTime").value=formatDate(new Date(parseInt(selectedTime)));
    document.getElementById("currentTime").innerHTML=formatDate(new Date(parseInt(selectedTime)))+'用户使用情况';

    function formatDate(time) {
        var year=time.getFullYear();
        var month=formatNum(time.getMonth()+1);
        var day=formatNum(time.getDate());
        return year+"-"+month+"-"+day;
    }

    function formatNum(num){
        return  num=num.toString().length==1?'0'+num:num.toString();
    }
</script>
</body>
</html>