<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<link
	href="http://s2.music.126.net/s/2/core.css?ae14f1474c34ab5f63ebbd0b191853d3"
	type="text/css" rel="stylesheet">
<link
	href="http://s2.music.126.net/s/2/pt_frame.css?55bf38a08df8bdd3cd15fb8529bb237a"
	type="text/css" rel="stylesheet">
</head>
<body>
	<div id="m-playlist" class="g-bd4 f-cb">
		<div class="g-mn4">
			<div class="g-mn4c">
				<div class="g-wrap6">
					<div class="m-info f-cb">
						<div class="cover u-cover u-cover-dj">
							<img
								src="http://p3.music.126.net/zwVS7DI_X0y1yhObWWz0Sw==/6652045349717340.jpg?param=200y200"
								class="j-img"
								data-src="http://p4.music.126.net/zwVS7DI_X0y1yhObWWz0Sw==/6652045349717340.jpg">
							<span class="msk"></span>
						</div>
						<div class="cnt">
							<div class="cntc">
								<div class="hd f-cb">
									<div class="tit">
										<h2 id="currentTime" class="f-ff2 f-brk"></h2>
									</div>
								</div>
								<p id="album-desc-more" class="intr f-brk" style="font-size: 18px; color: black;">
									今日使用总人数：{{dataout["countNum"]}}<br><br>
									大于10min的人数：{{dataout["gte10Num"]}}<br><br>
									大于20min的人数：{{dataout["gte20Num"]}}<br>
								</p>
								<br><br>
								<button id="songlistRadio" onclick="songlistRadio()" style=" width: 200px; height: 25px; font-size: 16px;">今日歌单电台统计情况</button>
							</div>
						</div>
					</div>
					<div class="n-songtb">
						<div class="u-title u-title-1 f-cb">
							<h3>
								<span class="f-ff2">用户列表</span>
							</h3>
							<div style="float: right; margin-top: 10px;">
								选择日期：<input id="selectedTime" type="date" onchange="browseDayChart()"/>
							</div>
						</div>
						<div id="song-list-pre-cache" data-key="track_playlist-152235296">
							<div id="auto-id-blEpMfFOsWSEEUQ7">
								<div class="j-flag" id="auto-id-3pxUtMQ1So68I2iL">
									<table class="m-table ">
										<thead>
											<tr>
												<th class="first w1"><div class="wp">&nbsp;</div></th>
												<th><div class="wp">用户昵称</div></th>
												<th class="w2"><div class="wp">使用次数</div></th>
												<th class="w4"><div class="wp">大于10min的次数</div></th>
												<th class="w4"><div class="wp">大于20min的次数</div></th>
											</tr>
										</thead>
										<tbody>
											{% for user in dataout["userlists"] %}
											<tr class="even">
												<td class="left"><div class="hd ">
														<span class="num">{{user.index}}</span>
													<!--<img src={{user.image}}>&nbsp;</img>-->
													</div></td>
												<td class=""><div class="f-cb">
														<div class="tt">
															<div class="ttc">
																<span class="txt"><a
																	href="http://songcheck.paohaile.com:8030/user_log?userId={{user.user}}&ducondition=all"><b
																		title="{{user.nickname}}">{{user.nickname}}</b></a></span>
															</div>
														</div>
													</div></td>
												<td class=""><div class="text" title="{{user.count}}">
														<span title="{{user.count}}">{{user.count}}</span>
													</div></td>
												<td class=""><div class="text"
														title="{{user.gte10}}">
														<span title="{{user.gte10}}">{{user.gte10}}</span>
													</div></td>
												<td class=""><div class="text"
														title="{{user.gte20}}">
														<span title="{{user.gte20}}">{{user.gte20}}</span>
													</div></td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div class="j-flag"></div>
							</div>
						</div>
					</div>
					<br>
					<div class="paginator" style="text-align:center">
						<input type="button" value="上一页"  onclick="up()"/>&nbsp
						<input type="button" value="1 " style="border:aliceblue;background:aliceblue" onclick="page(0)"/>&nbsp
						<input type="button" value="2 " style="border:aliceblue;background:aliceblue" onclick="page(1)"/>&nbsp
						<input type="button" value="3 " style="border:aliceblue;background:aliceblue" onclick="page(2)"/>&nbsp
						<input type="button" value="4 " style="border:aliceblue;background:aliceblue"onclick="page(3)"/>&nbsp
						<span class="break">...</span>
						<input type="button" value="end" style="border:aliceblue;background:aliceblue"onclick="page({{dataout.totalPage}})"/>&nbsp
						<input type="button" value="下一页" onclick="down({{dataout.totalPage}})"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:400px"></div>
	<!-- ECharts单文件引入 -->
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>

	<script type="text/javascript">
	function convertJson(query){
			var queryList=query.split("&");
			var temp={}
			for (var i=0;i<queryList.length;i++){
				temp[queryList[i].split("=")[0]]=queryList[i].split("=")[1]
			}
			return temp
		}
	var query = location.search.substring(1);
    var selectedTime=convertJson(query)["date"];
    
    document.getElementById("selectedTime").value=formatDate(new Date(parseInt(selectedTime)));
    document.getElementById("currentTime").innerHTML=formatDate(new Date(parseInt(selectedTime)))+'用户使用情况';
    
    function formatDate(time) {
    	var year=time.getFullYear();     
        var month=formatNum(time.getMonth()+1);
        var day=formatNum(time.getDate());
        return year+"-"+month+"-"+day;     
   }
    
    function formatNum(num){
    	return  num=num.toString().length==1?'0'+num:num.toString();
    }
	function browseDayChart(){
		var chartDate=document.getElementById("selectedTime").value.replace(/-/g,'/');
		window.location.href="http://songcheck.paohaile.com:8030/userList?date="+ new Date(chartDate).getTime()+"&pageNum=0";
	}
	function songlistRadio(){
		//var query = location.search.substring(1);
		//var chartDate=convertJson(query)["date"];
		//console.log(chartDate)
		window.location.href="http://songcheck.paohaile.com:8030/songlistRadio?date="+ new Date(parseInt(selectedTime)).getTime();
	}

	function up(){
		var query = location.search.substring(1);
		var pageNum=convertJson(query)["pageNum"];
		var chartDate=parseInt(convertJson(query)["date"]);
		var pageno=parseInt(pageNum)-1;
		if(pageno==-1){
			alert("当前已经是第一页!");
			return false;
		}
		/*这里在将当前页数赋值到页面做显示标志*/
		window.location.href="http://songcheck.paohaile.com:8030/userList?date="+ new Date(chartDate).getTime()+"&pageNum="+pageno;
	}
	//下一页
	function down(endPage){
		var query = location.search.substring(1);
		var pageNum=convertJson(query)["pageNum"];
		var chartDate=parseInt(convertJson(query)["date"]);
		var pageno=parseInt(pageNum)+1;
		if(pageno==endPage+1){
			alert("当前已经是最后一页!");
			return false;
		}
		/*这里在将当前页数赋值到页面做显示标志*/
		window.location.href="http://songcheck.paohaile.com:8030/userList?date="+ new Date(chartDate).getTime()+"&pageNum="+pageno;
	}
	function page(num){
			var query = location.search.substring(1);
			var chartDate=parseInt(convertJson(query)["date"]);
			window.location.href="http://songcheck.paohaile.com:8030/userList?date="+ new Date(chartDate).getTime()+"&pageNum="+num;
		}
	</script>
</body>
</html>