<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    </head>
<body>
<br><br><br><br>
<form action="http://songcheck.paohaile.com:8030/songSearch" method="GET" id="from1" style="text-align: center">
    <input id="searchtext" name="query" style="width:200px;height: 22px" value="输入想要搜寻的歌名" type="text" /><!--搜索框-->
    <input type="submit" value="提交" style="background:#00a3eb;color:#fff;width:100px;height:30px" size="500" ><!--搜索按钮-->
</form>


</body>
</html>